<ion-view view-title="Settings">
    <ion-content>
        <div class="list menu-w-icon">
          <a href="#/settings/permissions" class="item icon-left">
            <i class="icon ion-eye-disabled"></i> Services Permissions
          </a>
          <a href="#/settings/password" class="item icon-left">
            <i class="icon ion-locked"></i> Change Secret Code
          </a>
          <a href="#/about" class="item icon-left">
            <i class="icon ion-information-circled"></i> About
          </a>
        </div>
    </ion-content>
</ion-view>
