<ion-view view-title="Change Secret Code">
    <ion-content>
        <div class="padding top-head">
          <p>Change your Security code, the default code is your binusmaya password</p>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="password" placeholder="Old Code" ng-model="input.oldPassword">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="New Code" ng-model="input.newPassword">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Repeat New Code" ng-model="input.rePassword">
          </label>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="change()">Submit</button>
        </div>
    </ion-content>
</ion-view>
