<ion-view view-title="Absence">
    <ion-content>
      <ion-refresher
          pulling-text="Pull to refresh..."
          spinner="android"
          on-refresh="doRefresh()">
      </ion-refresher>
        <!--<div class="protect" ng-show="isAllow">-->
          <div class="list absence" ng-show="absence">
            <div class="card" ng-repeat="d in absence">
              <div class="item">
                <h2>{{d.name}}</h2>
                <div class="row main-stock" ng-repeat="c in d.absence">
                  <div class="col">
                    <span><i class="icon ion-ios-circle-filled" ng-class="c.status"></i></span>
                    <label>Status</label>
                  </div>
                  <div class="col"><span>{{c.component}}</span><label>Component</label></div>
                  <div class="col"><span>{{c.max}}</span><label>Max</label></div>
                  <div class="col"><span>{{c.total}}</span><label>Absent</label></div>
                </div>
              </div>
            </div>
          </div>
          <div class="alert-not-found caution" ng-hide="absence">
              <i class="icon ion-android-checkbox-outline"></i>
              <h1>Absence Data not found</h1>
              <p>Pull Down to refresh ...</p>
          </div>
        <!--</div>-->
    </ion-content>
</ion-view>
