<ion-view view-title="Exam Score">
    <ion-content>
      <ion-refresher
          pulling-text="Pull to refresh..."
          spinner="android"
          on-refresh="doRefresh()">
      </ion-refresher>
        <div class="protect" ng-show="isAllow">
          <div ng-show="examScore">
            <div class="list exam-score" ng-show="examScore.length > 0">
              <div class="card" ng-repeat="d in examScore">
                <div class="item">
                  <div class="term">{{d.term}}</div>
                  <h2>{{d.name}}</h2>
                  <p class="summary">{{d.year}} - Semester {{d.smester}}</p>
                  <div class="divider"></div>
                  <div class="row no-margin" ng-repeat="e in d.data">
                    <div class="col" ng-repeat="f in e"><span>{{f.value}}</span><label>{{f.name}}</label></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="alert-not-found caution" ng-hide="examScore.length > 0">
                <i class="icon ion-stats-bars"></i>
                <h1>Exam Score not found</h1>
                <p>Pull Down to refresh ...</p>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
