<ion-view view-title="Services">
    <ion-content>
        <div class="list menu-w-icon">
          <a href="#/exam-schedule" class="item icon-left">
            <i class="icon ion-calendar"></i> Exam Schedule
          </a>
          <a href="#/exam-score" class="item icon-left">
            <i class="icon ion-stats-bars"></i> Exam Score
          </a>
          <a href="#/absence" class="item icon-left">
            <i class="icon ion-android-checkbox-outline"></i> Absence
          </a>
          <a href="#/finance-status" class="item icon-left">
            <i class="icon ion-cash"></i> Finance Status
          </a>
        </div>
    </ion-content>
</ion-view>
