<ion-view view-title="Forum">
    <ion-content>
        <div class="list forum-page">
          <div class="item item-input item-select">
            <div class="input-label">Period</div>
            <select>
              <option>2014 - 2</option>
              <option selected="">2014 - 3</option>
            </select>
          </div>
          <div class="item item-input item-select">
            <div class="input-label">Course</div>
            <select>
              <option>Struktur Data</option>
              <option selected="">Metode Perancangan Program</option>
            </select>
          </div>
          <div class="item item-input item-select">
            <div class="input-label">Class</div>
            <select>
              <option>LA01</option>
              <option selected="">LF01</option>
            </select>
          </div>
          <div class="item item-input item-select">
            <div class="input-label">Topic</div>
            <select>
              <option>All</option>
              <option selected="">Other</option>
            </select>
          </div>
        </div>
        <div class="list card">
          <div class="item">
            <h2>Materi UAS</h2>
            <p>Created By RINI WONGSO</p>
            <p>25 Views &mdash; 0 Reply &mdash; 09/06/2015 09:44:45</p>
          </div>
          <div class="item">
            <h2>Class Diagram &amp; Sequence Diagram</h2>
            <p>Created By RINI WONGSO</p>
            <p>25 Views &mdash; 0 Reply &mdash; 09/06/2015 09:44:45</p>
          </div>
          <div class="item">
            <h2>GSLC Assigment</h2>
            <p>Created By RINI WONGSO</p>
            <p>25 Views &mdash; 0 Reply &mdash; 09/06/2015 09:44:45</p>
          </div>
        </div>
    </ion-content>
</ion-view>
