<ion-view view-title="{{ data.name }}">
    <ion-content>
      <!--<ion-refresher
          pulling-text="Pull to refresh..."
          spinner="android"
          on-refresh="doRefresh()">
      </ion-refresher>-->
      <div class="list my-class">
        <div class="item item-body">
          <h2>{{ data.name }}</h2>
          <p>{{ data.code }} &mdash; {{ data.className }}</p>
          <ion-spinner icon="android" class="center-spinner" ng-show="state.loading"></ion-spinner>
          <div class="see-more" ng-show="state.isData">
            <div class="button-bar">
              <a ng-click="switchTab(0)" class="button button-clear" ng-class="infoTab">Info</a>
              <a ng-click="switchTab(1)" class="button button-clear" ng-class="topicsTab">Topics</a>
            </div>
            <div class="info-page" ng-hide="isPageTopic">
              <h4>Course Description</h4>
              <div class="info">
                <p>{{state.isData.main_description}}</p>
              </div>
              <h4>Graduate Competency</h4>
              <div class="info">
                <p>{{state.isData.grad_description}}</p>
              </div>
            </div>
            <div class="topics-page" ng-show="isPageTopic">
              <ul>
                <li ng-repeat="data in state.isData.course">
                  <h3>{{ data.topics }}</h3>
                  <p>
                    <span class="subdued">{{ data.session }}</span>
                    <span class="subdued">{{ data.mode }}</span>
                    <span class="subdued">{{ data.date }}</span>
                  </p>
                  <ion-spinner icon="android" class="download-spinner" ng-show="linksSet[$index].isLoading"></ion-spinner>
                  <a href="javascript://" ng-click="downloadCourse($index, data.links)" ng-hide="linksSet[$index].isLoading" class="button icon ion-android-download"></a>
                </li>
                <li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
